* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13;
}

body {
  background-color: #ecf2f8;
}

#testimonial-grid-container {
  padding: 5% 3%;
}

#testimonial-1 {
  background-color: #7541c8;
  color: #ffffff;
}

#testimonial-2 {
  background-color: #48556a;
  color: #ffffff;
}

#testimonial-3 {
  background-color: #ffffff;
  color: #19212e;
}

#testimonial-4 {
  background-color: #19212e;
  color: #ffffff;
}

#testimonial-5 {
  background-color: #ffffff;
  color: #19212e;
}

.grid-item {
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 5px; 
}
#testimonial-3, #testimonial-5{
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

#info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#info h4 {
  font-size: 0.6rem;
  margin-bottom: 1px;
}
#info p {
  opacity: 50%;
  font-size: 0.6rem;
}
h4 {
 font-size: 0.9rem;
 margin-bottom: 20px;
}
p {
  opacity: 70%;
  font-size: 0.7rem;
  line-height: 15px;
}
#testimonial-1 img {
  border: 2px solid #ac8dde;
}
#testimonial-4 img {
  border: 2px solid #7541c8;
}


#pf-img {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

@media (min-width: 576px) {
  #testimonial-grid-container{
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
  }

  #left-container{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
  }
  #left-container .grid-item{
    margin-right: 15px;
  }
  #right-container{
    display: flex;
    flex-basis: 25%;
  }
  #top-container{
    display: flex;
    flex-basis: 50%;
  }
  #bottom-container{
    display: flex;
    flex-basis: 50%;
  }

  #testimonial-1, #testimonial-4{
    flex-basis: 65%;
  }

  #testimonial-2, #testimonial-3{
    flex-basis: 35%;
  }
}
